body {
    background: url("atlantis.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.brand {
    color: #ffc107;
    font-weight: bold;
}

.form-control {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: #fff;
}

.form-control:focus {
    background: rgba(255, 255, 255, 0.8); /* brighter whitish background */
    color: #000; /* optional: ensures text remains readable */
    box-shadow: 0 0 10px rgba(255, 193, 7, 0.7);
}

.btn-warning {
    font-weight: bold;
    border-radius: 8px;

}


